<%= form_with(scope: :filter, url: internal_invoices_path, method: :get, local: true, class: 'row g-3') do |form| %>
  <div class="col">
    <%= form.text_field :number,
                        placeholder: 'Number',
                        value: params.dig('filter', 'number'),
                        class: 'form-control' %>
  </div>

  <div class="col">
    <%= form.text_field :date,
                        placeholder: 'Date',
                        value: params.dig('filter', 'date'),
                        class: 'datepicker form-control' %>
  </div>

  <div class="col">
    <%= form.submit :filter, class: 'btn btn-primary mb-3' %>
  </div>
<% end %>
