<div class="container">
  <h1>New Invoice</h1>

  <div class="row">
    <%= render 'form', invoice: @invoice %>
  </div>

  <div class="row">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">
        <%= link_to 'Back', internal_invoices_path %>
      </li>
    </ul>
  </div>
</div>

